* {
	margin: 0;
	border: 0;
	padding: 0;
}
body {
	
	background-repeat: no-repeat;
	background-size: cover;
	font: 14px/20px Arial, San-Serif;
	color: #555;
	
}
h1{
	text-align: center;
	font-size: 180%;
	line-height: 120%;
	padding: 5% 0;
}
h2 {
	text-decoration: underline;
	line-height: 280%;
	padding-left: 2%;
	color: black;
	text-align: center;
}
h3 {
	line-height: 110%;
	padding: 5% 0;
	color: black;
	text-align: center;
}
p {
	padding: 1%;
}
img {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;
}
a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}
section {
	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}
article {
	float: left;
	margin: 0 auto;
	width: 50%;
	height: auto;
	padding: 4%;
}
aside {
	float: right;
	margin: 0 auto;
	width: 25%;
	height: auto;
	padding: 3%;
}